<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="footer, address, phone, icons" />
    <title>gitContent</title>
    <link rel="shortcut icon" href="../img/lg.png" type="image/icon" />
    <link rel="stylesheet" href="css/footer-distributed-with-address-and-phones.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="thenounproject.com">
    <link rel="stylesheet" href="~/lib/Font-Awesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/lib/Font-Awesome/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/button.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/review.css">
    <link rel="stylesheet" href="css/service.css">
    <link rel="stylesheet" href="css/footer-distributed-with-address-and-phones.css">
</head>

<body>
    <header>
        <input class="menu-trigger" type="checkbox" id="menu_trigger" />
        <div class="overlay" id="fullscreen_nav">
            <ul class="menu-links">
                <li><a href="#menu_trigger">Home</a></li>
                <li><a href="/aboutus">About Us</a></li>
                <li><a href="#serv">Our Services</a></li>
                <li><a href="/joinus">Join Us</a></li>
                <li><a href="#foot">Contact Us</a></li>
            </ul>
        </div>
        <label class="hamburger-menu" for="menu_trigger"><span></span><span></span><span></span></label>
        <div class="main-content">
            <h2 id="title2">We Help You Create a Better Content!</h2>

            <div class="wrap">
                <div class="container1">
                    <a href="#" class="btn"><span>Join Us</span></a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <h2 id="serv" class="section-title">Our <span>Services</span></h2>
        <div class="container3">
            <div class="btnS btn--1">
                <div class="content3">
                    <div class="front">
                        <div class="border"></div>
                        <img src="https://img.icons8.com/ios/50/000000/gif.png" />
                    </div>
                    <div class="back">
                        <div class="border"></div>
                        <p>GIF</p>
                    </div>
                </div>
            </div>
            <div class="btnS btn--2">
                <div class="content3">
                    <div class="front">
                        <div class="border"></div>
                        <img src="https://img.icons8.com/ios/50/000000/png.png" />
                    </div>
                    <div class="back">
                        <div class="border"></div>
                        <p>PNG !</p>
                    </div>
                </div>
            </div>
            <div class="btnS btn--3">
                <div class="content3">
                    <div class="front">
                        <div class="border"></div>
                        <img src="https://img.icons8.com/ios/50/000000/video.png" />
                    </div>
                    <div class="back">
                        <div class="border"></div>
                        <p>Also Videos! </p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <h2 id='tab' class="section-title">See for yourself how <span>gitContent</span> stacks up <br> against other
            options</h2>
        <div class="bs-example container" data-example-id="striped-table">
            <table class="table table-striped table-bordered table-hover" class="responstable">
                <tr>
                    <th>Features</th>
                    <th>Our Website</th>
                    <th>tenor.com</th>
                    <th>flaticon.com</th>
                </tr>
                <tr>
                    <th>All Media In One Place</th>
                    <td>✔️</td>
                    <td>✘</td>
                    <td>✘</td>
                </tr>
                <tr>
                    <th>Free</th>
                    <td>✔️</td>
                    <td>✔️</td>
                    <td>✘</td>
                </tr>
                <tr>
                    <th>User Friendly</th>
                    <td>✔️</td>
                    <td>✘</td>
                    <td>✔️</td>
                </tr>
                <tr>
                    <th>Easy-to-use</th>
                    <td>✔️</td>
                    <td>✘</td>
                    <td>✘</td>
                </tr>
            </table>
        </div>
        <div>
            <hr>
            <h2 id='stati' class="section-title">Your Content <span>Opportunities</span></h2>
            <div class="container2">

                <div class="content2">
                    <div>
                        <div class="value" akhi="1600">0</div> <span>Images</span>
                    </div>
                    <div>
                        <div class="value" akhi="1200">0</div> <span>Videos</span>
                    </div>
                    <div>
                        <div class="value" akhi="1000">0</div> <span>Gifs</span>
                    </div>
                    <div>
                        <div class="value" akhi="1800">0</div> <span>Users</span>
                    </div>
                    <div>
                        <div class="value" akhi="250">0</div> <span>Websites</span>
                    </div>
                    <div>
                        <div class="value" akhi="2000">0</div> <span>Visits</span>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <hr>
        <section>
            <div class="customer-feedback">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-sm-offset-2 col-sm-8">
                            <div>
                                <h2 class="section-title">What Our <span>Clients</span> Say</h2>
                            </div>
                        </div><!-- /End col -->
                    </div><!-- /End row -->

                    <div class="row">
                        <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
                            <div class="owl-carousel feedback-slider">

                                <!-- slider item -->
                                <div class="feedback-slider-item">
                                    <img src="//c2.staticflickr.com/8/7310/buddyicons/24846422@N06_r.jpg"
                                        class="center-block img-circle" alt="Customer Feedback">
                                    <h3 class="customer-name">Lisa Redfern</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. It is
                                        a long established fact that a reader will be distracted by the readable its
                                        layout.</p>
                                    <span class="light-bg customer-rating" data-rating="5">
                                        5
                                        <i class="fa fa-star"></i>
                                    </span>
                                </div>
                                <!-- /slider item -->

                                <!-- slider item -->
                                <div class="feedback-slider-item">
                                    <img src="https://res.cloudinary.com/hnmqik4yn/image/upload/c_fill,fl_force_strip,h_128,q_100,w_128/v1493982718/ah57hnfnwxkmsciwivve.jpg"
                                        class="center-block img-circle" alt="Customer Feedback">
                                    <h3 class="customer-name">Cassi</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. It is
                                        a long established fact that a reader will be distracted by the readable its
                                        layout.</p>
                                    <span class="light-bg customer-rating" data-rating="4">
                                        4
                                        <i class="fa fa-star"></i>
                                    </span>
                                </div>
                                <!-- /slider item -->

                                <!-- slider item -->
                                <div class="feedback-slider-item">
                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/451270/profile/profile-80.jpg"
                                        class="center-block img-circle" alt="Customer Feedback">
                                    <h3 class="customer-name">Md Nahidul</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. It is
                                        a long established fact that a reader will be distracted by the readable its
                                        layout.</p>
                                    <span class="light-bg customer-rating" data-rating="5">
                                        5
                                        <i class="fa fa-star"></i>
                                    </span>
                                </div>
                                <!-- /slider item -->
                            </div><!-- /End feedback-slider -->

                            <!-- side thumbnail -->
                            <div class="feedback-slider-thumb hidden-xs">
                                <div class="thumb-prev">
                                    <span>
                                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/451270/profile/profile-80.jpg"
                                            alt="Customer Feedback">
                                    </span>
                                    <span class="light-bg customer-rating">
                                        5
                                        <i class="fa fa-star"></i>
                                    </span>
                                </div>

                                <div class="thumb-next">
                                    <span>
                                        <img src="https://res.cloudinary.com/hnmqik4yn/image/upload/c_fill,fl_force_strip,h_128,q_100,w_128/v1493982718/ah57hnfnwxkmsciwivve.jpg"
                                            alt="Customer Feedback">
                                    </span>
                                    <span class="light-bg customer-rating">
                                        4
                                        <i class="fa fa-star"></i>
                                    </span>
                                </div>
                            </div>
                            <!-- /side thumbnail -->

                        </div><!-- /End col -->
                    </div><!-- /End row -->
                </div><!-- /End container -->
            </div><!-- /End customer-feedback -->
        </section>
    </main>
    <footer id="foot" class="footer-distributed">
        <div class="footer-left">
            <IMG SRC="../img/lg.png" ALT="" WIDTH=150 HEIGHT=150>
            <p class="footer-links">
                <a href="menu_trigger">Home</a> ·
                <a href="/search">Search</a> ·
                <a href="#serv">Services</a> ·
                <a href="/aboutus">About Us</a> ·
                <a href="#foot">Contact</a>
            </p>
            <p class="footer-company-name">gitContent &copy; 2020</p>
        </div>
        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Airport St.</span> Amman, Jordan</p>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <p>(06) 400 0700</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:support@company.com">m.me/ASAC.LTUC</a></p>
            </div>
        </div>

        <div class="footer-right">
            <p class="footer-company-about">
                <span>Contact Us</span> via our pages on social media and GitHub
            </p>
            <div class="footer-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
            </div>
        </div>
    </footer>
    <script src="/app.js"></script>
    <script src="/counter.js"></script>
    <script src="/review.js"></script>
    <script src="/service.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

</body>

</html>
