<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">
    <link rel="stylesheet" href="css/form.css">
    <link rel="stylesheet" href="css/footer.css">

</head>

<body>
    <main>
        <div id="bgimg"></div>
        <div class="container" id="container">
            <div class="form-container sign-up-container">
                <form action="/signup" method="POST">
                    <h1>Create Account</h1>
                    <div class="social-container">
                        <a href="" target="_blank" class="social"><i class="fab fa-instagram"></i></a>
                        <a href="" target="_blank" class="social"><i class="fab fa-twitter"></i></a>
                        <a href="" target="_blank" class="social"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <span>or use your email for registration</span>
                    <input type="text" name="username" id="" placeholder="Username" required />
                    <input type="email" placeholder="Email" name="email" id="" required />
                    <input type="password" placeholder="Password" name="password" id="" required />
                    <button type="submit" class="su">Sign Up</button>
                </form>
            </div>
            <div class="form-container sign-in-container">
                <form action="/signin" method="POST">
                    <h1>Sign In</h1>
                    <div class="social-container">
                        <a href="" target="_blank" class="social"><i class="fab fa-instagram"></i></a>
                        <a href="" target="_blank" class="social"><i class="fab fa-twitter"></i></a>
                        <a href="" target="_blank" class="social"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <span>or use your account</span>
                    <input type="text" name="username" id="" placeholder="Username" required />
                    <input type="password" placeholder="Password" name="password" id="" required />
                    <a href="" target="_blank">I Forgot my Password</a>
                    <button type="submit" class="si">Sign In</button>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1>Welcome Back!</h1>
                        <p>To Keep connected with us please login with your personal info</p>
                        <button class="ghost" id="signIn">Sign In</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h1>Hello, Wanderer!</h1>
                        <p>Enter your personal details and start journey with us</p>
                        <button class="ghost" id="signUp">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="../app.js"></script>
    <script src="../form.js"></script>

</body>

</html>
